<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../assets/css/login_style.css">
</head>

<body>
    <main id="main">
        <section>
            <form action="app/classes/academia.php" id="academia_cadastro" method="post">
                <h2>SISTEMA ACADEMIA </h2>
                <input type="text" name="academia_nome" placeholder="Digite o nome da academia" required>
                <input type="text" name="academia_cnpj" placeholder="Digite o CNPJ" required>
                <input type="password" name="academia_email " placeholder="Digite o seu email" required>
                <input type="password" name="academia_senha" placeholder="Digite a senha desejada" required>
                <input type="submit" value="Cadastrar" id="button_enty">
            </form>
        </section>
    </main>
</body>

</html>