<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciar Academia</title>
    <link rel="stylesheet" href="../../assets/css/gerenciar_style.css">

</head>

<body>
    <header>
        <nav id="gerenciar_nav_bar">
            <div id="gerenciar_nav_bar_visualizar">
                <button onclick="abrir_gerenciar_aluno()"> Alunos</button>
                <button onclick="abrir_gerenciar_treino()"> Treinos </button>
            </div>
            <div id="gerenciar_nav_bar_cadastrar">
                <button onclick="abrir_cadastrar_aluno()"> Cadastrar Aluno </button>
            </div>
        </nav>
    </header>
    <main id="gerenciar_main">
        <section id="gerenciar_alunos">
            <h2>Gerenciar Alunos</h2>
            <div class="aluno_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="aluno_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="aluno_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="aluno_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="aluno_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
        </section>
        <section id="gerenciar_treinos">
            <h2>Gerenciar Treinos</h2>
            <div class="treino_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="treino_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="treino_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="treino_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
            <div class="treino_informacao">
                feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                id quod mazim placerat facer possim as
            </div>
        </section>
        <section id="cadastrar_aluno">
            <form action="app/classes/usuario.php" id="gerenciar_cadastrar_aluno" method=" post">
                <h2>CADASTRAR ALUNO </h2>
                <input type="text" name="aluno_nome" placeholder="Digite o nome do aluno" required>
                <input type="text" name="aluno_id" placeholder="Digite o id do aluno" required>
                <!-- <input type="text" name="usuario_senha" placeholder="Digite os treinos" required> -->
                <input type="submit" value="Entrar" id="button_enty">
                <!-- <p>A sua academia ainda não tem um cadatro?
                    <br>
                    <a href="cadastro.html">Clique aqui!</a>
                </p> -->
            </form>
        </section>

    </main>

</body>
<script src="../../assets/js/gerenciar_js.js"></script>

</html>