<!-- <php?

?>-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciar Academia</title>
    <link rel="stylesheet" href="../../assets/css/gerenciar_style.css">

</head>

<body>
    <header>
        <nav id="gerenciar_nav_bar">
            <div id="gerenciar_nav_bar_visualizar">
                <button onclick="abrir_gerenciar_adms()"> Personais </button>
                <button onclick="abrir_gerenciar_alunos()"> Usuarios</button>
                <button onclick="abrir_gerenciar_treino()"> Treinos </button>
            </div>
            <div id="gerenciar_nav_bar_sair">
                <button>
                    <!-- <?php ?> -->
                    Sair </button>
            </div>
        </nav>
    </header>
    <main id="gerenciar_main">
        <!-- Gerenciar Adm's -->
        <section id="gerenciar_adms">
            <nav>
                <button onclick="abrir_cadastrar_adm()"> Cadastrar Personal </button>
                <button onclick="abrir_gerenciar_adms_lista()"> Gerenciar Personal</button>
            </nav>
            <!-- Lista de Adm's -->
            <section id="gerenciar_adms_lista">
                <h2>Gerenciar Personal</h2>
                <div class="adm_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="adm_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="adm_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="adm_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="adm_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
            </section>
            <!-- Cadastrar Adm -->
            <section id="cadastrar_adm">
                <form action="app/classes/verificar.php?operacao=operacao" method=" post">
                    <h2>CADASTRAR PERSONAL </h2>
                    <input type="text" name="personal_nome" placeholder="Digite o nome do personal" required>
                    <input type="text" name="personal_id" placeholder="Digite o id do personal" required>
                    <input type="email" name="personalemail" placeholder="Digite o email do personal" required>
                    <input type="text" name="personal_senha" placeholder="Digite a senha do personal" required>
                    <input type="submit" value="Cadastrar" id="button_enty">
                </form>
            </section>
        </section>

        <!-- Gerenciar Alunos -->
        <section id="gerenciar_alunos">
            <nav>
                <button onclick="abrir_cadastrar_aluno()"> Cadastrar Aluno </button>
                <button onclick="abrir_gerenciar_alunos_lista()"> Gerenciar Alunos </button>
            </nav>
            <!-- Lista de Alunos -->
            <section id="gerenciar_alunos_lista">
                <h2>Gerenciar Alunos</h2>
                <div class="aluno_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="aluno_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="aluno_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="aluno_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="aluno_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
            </section>
            <!-- Cadsatrar Alunos -->
            <section id="cadastrar_aluno">
                <form action="app/classes/adm.php" method=" post">
                    <h2>CADASTRAR ALUNO </h2>
                    <input type="text" name="aluno_nome" placeholder="Digite o nome do aluno" required>
                    <input type="text" name="aluno_id" placeholder="Digite o id do aluno" required>
                    <input type="email" name="aluno_email" placeholder="Digite o email do aluno" required>
                    <input type="text" name="usuario_pagamento_dia" placeholder="Digite o dia do pagamento" required>
                    <input type="text" name="usuario_treino_tipo" placeholder="Digite o tipo de treino" required>
                    <input type="submit" value="Cadastrar" id="button_enty">
                </form>
            </section>
        </section>
        <!-- Gerenciar Treinos -->
        <section id="gerenciar_treinos">
            <nav>
                <button onclick="abrir_cadastrar_treino()"> Cadastrar Treino </button><button
                    onclick="abrir_gerenciar_treinos_lista()"> Gerenciar Treinos </button>
            </nav>
            <!-- Lista de Treinos -->
            <section id="gerenciar_treinos_lista">
                <h2>Gerenciar Treinos</h2>
                <div class="treino_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="treino_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="treino_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="treino_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
                <div class="treino_informacao">
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming
                    id quod mazim placerat facer possim as
                </div>
            </section>
            <section id="cadastrar_treino">
                <form action="app/classes/treino.php" method=" post">
                    <h2>CADASTRAR TREINO </h2>
                    <input type="text" name="treino_nome" placeholder="Digite o nome do treino" required>
                    <input type="text" name="treinoo_id" placeholder="Digite o id do treino" required>
                    <input type="text" name="treino_descricao" placeholder="Digite a descrição do treino" required>
                    <input type="text" name="treino_tipo" placeholder="Digite o tipo de treino" required>
                    <input type="submit" value="Cadastrar" id="button_enty">
                </form>
            </section>
        </section>

    </main>

    <script src="../../assets/js/gerenciar_js.js"></script>
</body>

</html>