<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/css/home_style.css">
</head>

<body>
    <header id="home_header">
        <div id="home_academia_nome">
            <h2>
                SystAcademi
            </h2>
        </div>
        <nav id="home_nav_bar">
            <a href="cadastro.html">Cadastrar Academia</a>
            <a href="login.html">Login</a>
        </nav>
    </header>
    <main id="home_main">
        <section>

        </section>
    </main>
</body>

</html>