<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuario</title>
    <link rel="stylesheet" href="../../assets/css/login_style.css">
</head>

<body>
    <main id="main">
        <section>
            <form action="app/classes/usuario.php" id="academia_login" method=" post">
                <h2>LOGIN USUARIO</h2>
                <input type="text" name="usuario_nome" placeholder="Digite o usuario" required>
                <input type="text" name="usuario_id" placeholder="Digite o id do usuario" required>
                <input type="password" name="usuario_senha" placeholder="Digite a senha do usuario" required>
                <input type="submit" value="Entrar" id="button_enty">
                <p>A ainda não tem um cadatro?
                    <a href="home.html">Clique aqui!</a>
                </p>
            </form>
        </section>
    </main>
</body>

</html>