<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../assets/css/login_style.css">
</head>

<body>
    <main id="main">
        <section>
            <form action="app/classes/usuario.php" id="login" method="post">
                <h2>SISTEMA ACADEMIA </h2>
                <input type="text" name="nome" placeholder="Digite o seu nome" required>
                <input type="text" name="id_usuario" placeholder="Digite o id do usuario" required>
                <input type="submit" value="Entrar" id="button_enty">
            </form>
        </section>
    </main>
</body>

</html>