<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Aluno</title>
    <link rel="stylesheet" href="../../assets/css/painel_style.css">
</head>

<body>
    <header>
        <nav id="gerenciar_nav_bar">
            <button onclick="abrir_gerenciar_alunos()"> Treinos</button>
            <button onclick="abrir_gerenciar_treino()"> Perfil </button>
        </nav>
    </header>
    <main id="main">
        <section id="perfil">
            <section id="perfil_img">

            </section>
            <section id="perfil_dados">
                <h3> Usuario</h3>
                <p> echo $usuario_nome </p>
                <h3> Id do Usuario</h3>
                <p> echo $usuario_id </p>
            </section>
        </section>
        <section id="perfil_informacao">

        </section>
    </main>
</body>

</html>