* {
  list-style-type: none;
}
/* body {
  margin: 0;
}
.gerenciar_opcoes p {
  background: #ff0000;
  border: 0.2rem solid #000000;
}
#tabs,
#tabs ul,
#tabs ul li {
  background: #a2a2a2;
  border: none;
  font-size: 1.2rem;
}
#tabs ul li a {
  background: #e70505;
} */
body {
  background: #a2a2a2;
  margin: 0;
}
h2 {
  font-size: 1.7rem;
}
#button_enty {
  box-shadow: #272727 0.25rem 0.3rem 0.45rem;
  width: 15.5rem;
}
#button_enty:hover {
  background: #18db4c;
  border: 0.2rem solid #424242;
  /* width: 15.5rem; */
}
#cadastrar_usuario,
#cadastrar_treino {
  display: none;
  flex-direction: column;
}
/* #cadastrar_usuario nav {
  border-bottom: 0.15rem solid #cdcdcd;
  border-top: 0.15rem solid #cdcdcd;
  margin-bottom: 1rem;
} */
#gerenciar_usuarios,
#gerenciar_treinos {
  align-items: center;
  background: #dcdcdc;
  border: 0.2rem solid #a2a2a2;
  border-radius: 0.7rem;
  box-shadow: #272727 0.25rem 0.4rem 0.7rem;
  display: none;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  width: 80vw;
}
#cadastrar_adm-aluno {
  align-items: center;
  display: none;
  justify-content: space-evenly;
  /* width: 80vw; */
  margin: 1rem;
}
#gerenciar_cadastrar_adm form,
#gerenciar_cadastrar_aluno form,
#gerenciar_cadastrar_treino {
  background: #dcdcdc;
  border: 0.2rem solid #a2a2a2;
  border-radius: 0.7rem;
  box-shadow: #272727 0.25rem 0.35rem 0.85rem;
  height: 33.5em;
  margin: auto auto;
  text-align: center;
  width: 25rem;
}
#gerenciar_cadastrar_adm form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* #gerenciar_cadastrar_aluno h2 {
  background: #fa0144;
  border: 0.15rem solid #ffffff;
  border-radius: 1.1rem;
  color: #ffffff;
  font-size: 1.7rem;
  padding: 0.7rem 0.5rem;
  text-align: center;
} */
#gerenciar_cadastrar_adm form input,
#gerenciar_cadastrar_aluno form input,
#gerenciar_cadastrar_treino input {
  border: 0.15rem solid #a2a2a2;
  border-radius: 0.9rem;
  margin: 0.9rem;
  font-size: 1.1rem;
  padding: 1.1rem 1.7rem;
}
#gerenciar_main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  justify-content: center;
  margin-top: 1vh;
  width: 100vw;
}
#gerenciar_nav_bar {
  border-bottom: 0.15rem solid #cdcdcd;
  display: flex;
  margin: 0;
  width: 100%;
}

#gerenciar_nav_bar_alunos,
#gerenciar_nav_bar_treinos {
  text-align: end;
  width: 78vw;
}
#gerenciar_nav_bar_alunos button,
#gerenciar_nav_bar_treinos button,
#gerenciar_nav_bar_sair button,
#gerenciar_nav_bar_visualizar button,
#cadastrar_usuario nav button {
  border: 0.2rem solid #000000;
  background: #e70505;
  border-radius: 0.7rem;
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 0.7rem;
  margin-top: 0.35rem;
  text-decoration: none;
  padding: 0.4rem 1.7rem;
}
#gerenciar_nav_bar_alunos button:hover,
#gerenciar_nav_bar_treinos button:hover,
#gerenciar_nav_bar_sair button:hover,
#gerenciar_nav_bar_visualizar button:hover,
#cadastrar_usuario nav button:hover {
  background: #cdcdcd;
  color: #000000;
}
#gerenciar_nav_bar_sair {
  width: 10vw;
}

#gerenciar_nav_bar_visualizar {
  display: flex;
  width: 90vw;
}
.aluno_informacao,
.treino_informacao {
  border: 0.2rem solid #000000;
  height: 15rem;
  font-size: 1.5rem;
  margin: 1rem;
  width: 70vw;
}
#gerenciar_alunos_lista,
#gerenciar_treinos_lista {
  border: 0.1rem solid #000000;
  text-align: center;
}
