* {
  list-style-type: none;
}

body {
  background: #a2a2a2;
  margin: 0;
}
h2 {
  font-size: 1.7rem;
}
/* #aluno_treino_tipo {
  text-align: left;
  width: 19rem;
}
#aluno_treino_tipo input {
  border: 0.15rem solid #a2a2a2;
  height: 1.3em;
  width: 1.3rem;
}
#aluno_treino_tipo label {
  font-size: 1.5rem;
} */
#button_enty {
  box-shadow: #272727 0.25rem 0.3rem 0.45rem;
  width: 15.5rem;
}
#button_enty:hover {
  background: #18db4c;
  border: 0.2rem solid #424242;
  /* width: 15.5rem; */
}
#cadastrar_personal,
#cadastrar_aluno,
#cadastrar_treino {
  display: none;
  margin: 1rem;
}
#cadastrar_personal form,
#cadastrar_aluno form,
#cadastrar_treino form {
  align-items: center;
  background: #dcdcdc;
  border: 0.2rem solid #a2a2a2;
  border-radius: 0.7rem;
  box-shadow: #272727 0.25rem 0.35rem 0.85rem;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: center;
  width: 23rem;
}

#cadastrar_personal form input,
#cadastrar_aluno form input,
#cadastrar_treino form input {
  border: 0.15rem solid #a2a2a2;
  border-radius: 0.9rem;
  margin: 0.75rem;
  font-size: 1.1rem;
  padding: 1.1rem 2.3rem;
}
#gerenciar_personais,
#gerenciar_alunos,
#gerenciar_treinos {
  align-items: center;
  background: #dcdcdc;
  border: 0.2rem solid #a2a2a2;
  border-radius: 0.7rem;
  box-shadow: #272727 0.25rem 0.4rem 0.7rem;
  display: none;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  width: 80vw;
}
#gerenciar_main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  justify-content: center;
  width: 100vw;
}
#gerenciar_nav_bar {
  border-bottom: 0.15rem solid #cdcdcd;
  display: flex;
  margin: 0;
  width: 100%;
}
#gerenciar_personais nav,
#gerenciar_alunos nav,
#gerenciar_treinos nav {
  text-align: end;
  width: 78vw;
}
#gerenciar_personais nav button,
#gerenciar_alunos nav button,
#gerenciar_nav_bar_sair button,
#gerenciar_nav_bar_visualizar button,
#gerenciar_treinos button {
  border: 0.2rem solid #000000;
  background: #e70505;
  border-radius: 0.9rem;
  color: #ffffff;
  font-size: 1.7rem;
  margin: 0.7rem;
  text-decoration: none;
  padding: 0.5rem 1.9rem;
}
#gerenciar_personais nav button:hover,
#gerenciar_alunos nav button:hover,
#gerenciar_nav_bar_sair button:hover,
#gerenciar_nav_bar_visualizar button:hover,
#gerenciar_treinos button:hover {
  background: #cdcdcd;
  color: #000000;
}
#gerenciar_nav_bar_sair {
  width: 10vw;
}

#gerenciar_nav_bar_visualizar {
  display: flex;
  width: 90vw;
}
#gerenciar_personais_lista,
#gerenciar_alunos_lista,
#gerenciar_treinos_lista {
  border: 0.1rem solid #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* Classes: */
.personal_informacao,
.aluno_informacao,
.treino_informacao {
  border: 0.2rem solid #000000;
  height: 15rem;
  font-size: 1.5rem;
  margin: 1rem;
  width: 70vw;
}
