body {
  background: #a2a2a2;
  margin: 0;
}
#home_academia_nome {
  text-align: center;
  width: 20%;
}
#home_academia_nome h2 {
  background: #e70505;
  border-radius: 0.7rem;
  color: #ffffff;
  font-size: 2.1rem;
  margin: 0;
}
#home_header {
  align-items: center;
  display: flex;
  justify-content: end;
  margin-top: 0.3rem;
  width: 100vw;
}
#home_main {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100vw;
}
#home_main section {
  background: #cdcccc;
  border: 0.15rem solid #ffffff;
  height: 80vh;
  width: 75vw;
}
#home_nav_bar {
  align-items: center;
  display: flex;
  justify-content: end;
  margin: 0;
  width: 80%;
}
#home_nav_bar a {
  background: #e70505;
  border-radius: 0.7rem;
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 0.7rem;
  text-decoration: none;
  padding: 0.4rem 1.7rem;
}
#home_nav_bar a:hover {
  background: #cdcdcd;
  border: 0.1rem solid #ffffff;
  color: #000000;
}
