body {
  background: #a2a2a2;
  margin: 0;
}
#home_academia_nome {
  border: 0.2rem solid #000000;
  border-radius: 0.7rem;
  margin-top: 0.1rem;
  text-align: center;
  width: 20%;
}
#home_academia_nome h2 {
  background: #e70505;
  border-radius: 0.7rem;
  color: #ffffff;
  font-size: 2.3rem;
  margin: 0;
}
#home_header {
  align-items: center;
  display: flex;
  justify-content: end;
  width: 100vw;
}
#home_main {
  align-items: center;
  border-top: 0.15em solid #cdcdcd;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100vw;
}
#home_main section {
  background-image: url("../img/academia_2.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  border: 0.15rem solid #ffffff;
  height: 80vh;
  width: 75vw;
}
#home_nav_bar {
  align-items: center;
  display: flex;
  justify-content: end;
  margin: 0;
  margin-right: 1.5rem;
  width: 80%;
}
#home_nav_bar a {
  background: #e70505;
  border: 0.2rem solid #000000;
  border-radius: 0.7rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 0.7rem;
  margin-top: 0.1rem;
  text-decoration: none;
  padding: 0.4rem 1.7rem;
}
#home_nav_bar a:hover {
  background: #cdcdcd;
  color: #000000;
}
