* {
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #a2a2a2;
  margin: 0;
}

h2 {
  font-size: 1.7rem;
}
h3 {
  margin: 0;
}
#gerenciar_nav_bar {
  display: flex;
  margin: 0;
  width: 100%;
}
#gerenciar_nav_bar button a {
  color: #ffffff;
}
#gerenciar_nav_bar button {
  border: 0.2rem solid #000000;
  background: #e70505;
  border-radius: 0.9rem;
  /* color: #ffffff; */
  font-size: 1.7rem;
  margin: 0.7rem;
  text-decoration: none;
  padding: 0.5rem 1.9rem;
}
#gerenciar_nav_bar button:hover {
  background: #cdcdcd;
  color: #000000;
}

/* Main: */
#main {
  align-items: center;
  display: flex;
  height: 120vh;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
/* Foto de Dados do Perfil */
#input_foto_perfil {
  display: none;
}
#perfil {
  align-items: center;
  background: #dcdcdc;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  display: flex;
  height: 40vh;
  justify-content: space-evenly;
  margin: 0;
  width: 80vw;
}
#perfil_dados,
#perfil_img {
  background: #cdcdcd;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  height: 35vh;
}

#perfil_dados {
  display: flex;
  font-size: 1rem;
  width: 45vw;
}

#perfil_img {
  border-radius: 5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20vw;
}

#label_foto_perfil {
  cursor: pointer;
  padding: 15vh 5vw;
}
.puxar_informacoes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25vw;
}
.puxar_informacoes h3 {
  background: #e70505;
  border: 0.15rem solid #000000;
  color: #ffffff;
  width: 15vw;
}
/* Informações do Perfil */

#button_enty {
  box-shadow: #272727 0.25rem 0.3rem 0.45rem;
  margin: 1.5rem;
  padding: 0.7rem 0 !important;
  width: 15.5rem !important;
}
#button_enty:hover {
  background: #18db4c;
  border: 0.2rem solid #424242;
}

#perfil_informacao {
  background: #dcdcdc;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  width: 80vw;
}
#perfil_informacao form {
  align-items: center;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: center;
  width: 60vw;
}
#perfil_informacao form input {
  background: #eeeeee;
  border: 0.15rem solid #a2a2a2;
  border-radius: 0.9rem;
  margin: 0.75rem;
  font-size: 1.1rem;
  padding: 1rem 0;
  width: 45vw;
  text-align: center;
}
/* Painel Treino: */
#main_painel_treinos {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 85vh;
  justify-content: space-evenly;
}
#main_treinos {
  align-items: center;
  background: #dcdcdc;
  border: 0.2rem solid #a2a2a2;
  border-radius: 0.7rem;
  box-shadow: #272727 0.25rem 0.4rem 0.7rem;
  display: flex;
  flex-flow: column wrap;
  height: 80vh;
  width: 70vw;
}
#nav_bar_dias {
  display: flex;
  flex-flow: column wrap;
  height: 80vh;
  justify-content: center;
}
#nav_bar_dias button {
  background: #e70505;
  border-radius: 0.9rem;
  color: #ffffff;
  font-size: 1.7rem;
  margin: 0.7rem;
  text-decoration: none;
  padding: 0.5rem 1.9rem;
  width: 15vw;
}
#nav_bar_dias button:hover {
  background: #cdcdcd;
  color: #000000;
  cursor: pointer;
}
#treino_segunda,
#treino_terca,
#treino_quarta,
#treino_quinta,
#treino_sexta {
  display: none;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  text-align: center;
  width: 65vw;
}
/* Tabela de treinos: */
.informacao {
  align-items: center;
  /* border: 0.1rem solid #000000; */
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 60vw;
}
.informacao table,
.informacao th,
.informacao td {
  border: 0.15rem solid #000000;
  border-collapse: collapse;
  margin: 0;
  font-size: 1.3rem;
}
.informacao th,
.informacao td {
  padding: 0.7rem;
  text-align: center;
}
.nome_dia {
  border-bottom: 0.4rem solid #e70505;
  border-radius: 0.5rem;
  color: #272727;
  text-align: center;
  width: 20vh;
}
